@import "../../assets/styles/colours.scss";
@import "../../assets/styles/mixins";

.recognitionsMain {
	background-color: $color_white3;
	padding-top: 20px;
	.recognitionsH2 {
		font-size: 24px;
	}
	.reco_img {
		@include sm {
			text-align: center;
			margin-bottom: 20px;
		}
	
	}
}

// @media screen and (max-width:600px) {
// 	.reco_img {
// 		text-align: center;
// 		margin-bottom: 20px;
// 	}
// }
