$white_color: #fff;
$balck_color: #000;
$light_blue: #474a57;
$light_blue_2: #717583;
$gray: gray;
$blue: #0086f8;
$green: #388062;
$light_grey: rgb(99, 95, 95);
$thick_green: #008260;
$blue_2: blue;
$light_gray_2: #666;
$red: red;
$light_gray_10: #5b5a5a;
$whitesmoke: whitesmoke;
$black_2: rgba(0, 0, 0, 0.6);
$balck_3:rgba(0, 0, 0, 0.25);
$balck_4:rgb(9 9 9 / 20%);
$light_green2: #73b757;
$color_white2 : #f5f5f5;
$bg_color_white:#f0f8ff;
$light_gray_3:#444545;
$green_color:green;
$light_gray_4: #6a6a6a;
$light_black_1: #1d202c;
$light_green_3: #3d8b6d;
$light_gray_5: #8d8f91;
$light_gray_6: #636468;
$light_gray_7: #787a80;
$light_blue_2: #0266ad;
$bg_color_white1: #eee;
$bg_color_white2: #ccc;
$blue_3: #1b4bb3;
$color_white3: #f9f7f7;
$light_blue_3: #0061e6;
$light_gray_8: #5f5d5d;
$light_gray_9: #535151;
$light_blue_4: #0f9fd4;
$light_blue_5: #056dc8;
$orange: #ec7205;
$bg_transparent: transparent;
$bg_rgb1: rgba(161,154,154,.5);
$bg_rgb2: rgba(0,0,0,.7);
$light_gray_11: #717171;
$color_white4: #d2cbcb;
$balck_5: #19212b;
$green_color_1: #454c4f;

// font family

$buenos_aires: "Buenos Aires";
$buenos_aires_regular_sans_serif: "BuenosAires-Regular", sans-serif;
$buenos_aires_regular: "BuenosAires-Regular";
$font_form_family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
